.App {
  margin: 20px;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #222;
}
.heading {
  text-align: center;
}
.form-container {
  background-color: white;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s ease-out;
}

input[type="text"],
input[type="number"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 6px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}
a {
  color: #1eaedb;
  text-decoration: none;
}
.footer {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.6em;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #222;
}
.table {
  width: 100%;
  display: table;
  text-align: left;
  margin-top: 2.5rem;
  border-collapse: collapse;
}
.pointer {
  cursor: pointer;
}
.table td,
.table th {
  border: 2px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: grey;
}
